$font-stack:    Helvetica, serif;
$primary-color: #F3976C;
$secondary-color : gray;
$color-text-footer : #691F1F;

body {
  background-color: #FFF;

	img {
		max-width: 100%;
    width: 100%;
		height: auto;
	}

  a {
    text-decoration: none;
  }

  a:hover {
    color: #1e2642;
    cursor: pointer;
    text-decoration: underline;
  }

  a[data-lightbox]:hover img {
    opacity: .6;
}

  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  .btn-orange {
    background-color: #fbb290;
    border-radius: 40px;
    padding: .8rem 2rem;
    font-weight: 700;
    color: #503737;
    text-shadow: 0 1px 0 rgba(0,0,1,0.1);
    text-transform: uppercase;
    z-index: 10;
    transition: all 0.3s;
    display: block;
    width: 5rem;
    margin:0 auto;
}

  .btn-scroll {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    z-index: 20;
    cursor: pointer;
    opacity: 0;
    border-radius: 4px;
    background: rgba(0,0,0,0.3);
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    color: #575757;
    font-weight: 400;
    transition: all .3s;
    z-index: 1000;
  }

  .styled {
      background-color: #F3976C;
      border-radius: 40px;
      padding: .8rem 2rem;
      font-weight: 700;
      color: #503737;
      text-shadow: 0 1px 0 rgba(0,0,1,0.1);
      text-transform: uppercase;
      z-index: 10;
    }

    .styled:hover {
        background-color: #c27956;
          color: #fff;
          text-decoration: none;
        
    }

    .mainContact {
      padding-top: 3rem;

      .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
      }
    }

  .header {
  	height: 6rem;
  	background-color: white;

  	.nav-bar_logo {
  		width: 16rem;
  		/*background-color: green*/
  	}

  	.nav-bar {
  		display: flex;
  		justify-content: space-between;
      padding: 1.4rem 0;

      .nav-bar_links {
        display: flex;
        align-items: center;
      }

      .nav-bar_links a {
        margin-left: 0.8rem;
        text-decoration: none;
        color: $secondary-color;
      }
  	}

  	.image_full_screen_header {
  		background-image: url("../img/la-chouette-agence-banniere.jpg");
  		height: 20rem;
  	}
  }

  .headerContact {
      height: auto;
    }

  .image_full_screen_main01 {
    background-image: url("../img/image-de-presentation.jpg");
    /*height: 20rem;*/
  }

  .image_full_screen_main02 {
    background-image: url("../img/la-chouette-agence-banniere.jpg");
    height: 20rem;
  }

  /*.section01Contact {
    height: 20rem;
  }*/

  .image_full_screen_header_contact {
    background :#fbb290 url("../img/dots-bg.png");
    height: 20rem;
    text-align: center;
    padding-top: 7rem;
    color: #FFF;
    font-size: 1.6rem;
  }

  .logo {
    width: 6rem;
    padding-top: 2.5rem;
    margin: auto;
  }

  .section02_title {
    text-align: center;
    color: $primary-color;
    font-family: $font-stack;
    font-size: 2rem;
    font-weight: 500;
    z-index: 10;
  }

  .button {
    display: block;
    margin: auto;
  }

  

  .container {
  	width: 80%;
  	/*background-color: green;*/
  	margin: auto;
  }

  .section02 {
    height: 19rem;
  }

  .section03 {
    .section03_title {
        text-align: center;
        padding-top: 2rem;
        margin-bottom: 4rem;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .section03_cards {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4rem;

      .section03_card01,
      .section03_card02,
      .section03_card03 {
        width: 19rem;
        text-align: center;
      }

      .section03Title {
        font-size: 0.9rem;
      }

      .card-text {
        font-size: 1.5rem;
      }
    }

    .section03_subtitle {
      text-align: center;
      font-size: 0.8rem;
    }

    .section03_text {
      text-align: center;
      font-size: 1.2rem;
    }

    i {
        font-weight: 100;
    }

  }

  .section04 {
    .section04_title {
      padding: 3rem;
      color: #FFF; 
      text-shadow: 0 1px 0 #F3976C;
      font-size: 1.2rem;
      font-weight: 500;
      text-align: center;
      z-index: 10;
    }

    .section04_text {

      font-size: 1.3rem;
      padding-bottom: 2.2rem;
      padding-right: 2rem;
      padding-left: 2rem;
      text-align: center;
      text-shadow: 0 1px 0 #fff;
      z-index: 10;
      color: #fff !important;
    }

    .image_full_screen_main01 {
      padding: 2rem;
      position: relative;
    }

    .section04_bg {
      background-color: rgba(165,147,99,0.7);
      padding-bottom: 4rem;

      .section04_link a {
        display:block;
        text-align:center;
        font-size: 1.4rem;
        color: #FFF;
      }
    }
  }

  .section06 {
    .section06_title {
      font-size: 1.4rem;
      text-align: center;
      margin: 3rem;
      font-weight: 500;
    }

    .section06_subtitle {
      font-size: 1rem;
      text-align: center;
      margin: 0.5rem 0 1rem;
    }

    .section06_cards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .section06_card {
        width: 49%;
      }

      .section06_text {
        font-size: 0.9rem;
        text-align: center;
        margin: 0 0 3rem 0;
      }
    }    
  }

  .section07 {
    .section07_title {
      text-align: center;
      padding-top: 6rem;
      padding-bottom: 2rem;
      font-size: 1.3rem;
      color: $primary-color;
    }
  }

  .section08 {

    background-color: $primary-color;
    .section08_title {
      text-align: center;
      padding-top: 1.8rem;
      padding-bottom: 2rem;
      font-size: 1.2rem;
      margin: 0;
      color: $color-text-footer;
    }

    .section08_blocks {
      display: flex;
      justify-content: space-between;

      .block01,
      .block02,
      .block03 {
        color: $color-text-footer;
        width: 30%;
        font-size: 1.4rem;

        a {
          color: #000;
        }
      }
    }

    
  } 
}

@media screen and (max-width: 1208px) {

      body .section03 .section03_cards .section03_card01, body .section03 .section03_cards .section03_card02, body .section03 .section03_cards .section03_card03 {
        width: 15rem;
        text-align: center;
      }

      body .section08 {
        background-color: #F3976C;
        display: none;
      }

      form {
        padding-bottom: 3rem;
        margin: auto;
      }

      iframe {
        width: 100%;
      }

      .localisation {
        margin: auto;
      }

      
}

@media screen and (max-width: 1155px) {

body .mainContact .container {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
      }
}

@media screen and (max-width: 955px) {
    .section03_cards {
      display: flex;
      /*justify-content: space-between; */
      flex-direction: column;
      margin-bottom: 4rem;
    }

    body .section03 .section03_cards .section03_card01, body .section03 .section03_cards .section03_card02, body .section03 .section03_cards .section03_card03 {
        width: 15rem;
        text-align: center;
        margin: auto;
      }


}